:root{
    --primary: #;
    --secondary: #; /*About page*/
    --paragrafs:#;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}



/*Mobile first*/
.nav{

    border-bottom: 1px solid #808080;
}

/*positions the mobile navigation icon*/
.nav_toggle{
    border: aqua solid;
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0rem;
    
}

/*icons for nav*/
img svg{
    width: 1.5rem;

}


.close{
    display: none;
}

/*nav Menu begins here*/
.nav_menu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 16px;

}

li{
    list-style: none;
    display: none;
    font-weight: bold;
    
}

/*logo*/
:first-child{
    margin-right: auto;
    display: block;
}


.nav_checkbox{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
/*(nav icon)
img{
    width: 1.5rem
}
*/

/*here begins my responsive navigatin*/

/*interaction of the nav_menu icon using checkbox*/
#nav_checkbox:checked ~ ul.nav_menu li{
    display: block;

}
/* close icon display*/
#nav_checkbox:checked ~ label.nav_toggle .close{
    display:block;
}
/*hide the menu icon*/
#nav_checkbox:checked ~ label.nav_toggle img{
    display: none;
}
/*here ends my responsive navigation*/

/*here begins ABOUT ME page*/

.about_img{
    display: block;
    margin: auto;
    padding: 48px;
    width: 100%;
    max-width: 60%;
    
}
/*text under picture*/
.container{
    display: block;
    
    max-width: 60%;

    margin: auto; 
}

.contact{
    display: block;
    margin: auto;
    max-width: 60%;
}
.contact_content h2 {
    text-align: center;
    padding-top: 48px;
}
.contact_content p {
    text-align: center;
}
/*here ends ABOUT ME page*/

/*here begins FOOTER*/

.footer_logo{
    width: 40%;
}

@media only screen and (min-width: 560px) {

    .nav_toggle{
        display: none;

    }
    .nav_menu{
        display: flex;
        flex-direction: row;
        
        padding-right: 16px;
    }
    li{
        display: block;
    }

    .about_img{
        justify-content: right;
    }
}

