:root{
    --primary: #;
    --secondary: #; /*About page*/
    --paragrafs:#;
}

body{
    background-color: #FFCE34;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #70223E;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #EF4786;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #EF4786;
}



/*Mobile first*/
.nav{

    border-bottom: 1px solid #808080;
}

/*positions the mobile navigation icon*/
.nav_toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0rem;
    
}

/*icons for nav*/
img svg{
    width: 1.5rem;

}


.close{
    display: none;
}

/*nav Menu begins here*/
.nav_menu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 16px;

}

li{
    list-style: none;
    display: none;
    font-weight: bold;
    
}

/*logo*/
:first-child{
    margin-right: auto;
    display: block;
    
}
.logo{
    width: 100%;
    max-width:30%;
}


.nav_checkbox{
    display: none;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    
}
/*(nav icon)
img{
    width: 1.5rem
}
*/

/*here begins my responsive navigatin*/

/*interaction of the nav_menu icon using checkbox*/
#nav_checkbox:checked ~ ul.nav_menu li{
    display: block;

}
/* close icon display*/
#nav_checkbox:checked ~ label.nav_toggle .close{
    display:block;
}
/*hide the menu icon*/
#nav_checkbox:checked ~ label.nav_toggle img{
    display: none;
}
/*here ends my responsive navigation*/

/*here begins ABOUT ME page*/

.about_img{
    display: block;
    margin: auto;
    padding: 48px;
    width: 100%;
    max-width: 60%;
    
    
}
/*text under picture*/
.container{
    display: block;
    width: 100%;
    max-width: 60%;

    margin: auto; 
}
.content{
    
    
    text-align: left;
    width: 100%;
}

.contact{
    display: block;
    margin: auto auto;
    max-width: 60%;
}
.contact_content h2 {
    text-align: center;
    padding-top: 48px;
}
.contact_content p {
    text-align: center;
}
/*here ends ABOUT ME page*/

/*here begins FOOTER*/

footer{
    padding-top: 60px;
}
.footer_logo{
    float: left;
    width: 100%;
    max-width:30%;
    margin-left: 15px;
    padding-left: 50px;
}
/*need to check this out, something wrong with margin and padding*/
.footer_content{
    display: table-column;
    
    width: 100%;
    max-width: 40%;
    padding: 0 50px;
    margin: 0 15px;
    float: right;

}
.copyright{
    display: block;
}

/*Project pages*/
.headings{
    padding: 48px;
    text-align: left;
}
.columns p{
    margin-top: 0%;
    text-align: left;
}
.columns img{
    margin: 15px;
    padding: 15px;
    margin-top: 0%;
    width:  200px;
    max-width: 1000px;
    object-fit: cover;  
}
img.col_picture{
    padding: 0%;
    margin: 0%;
}
.columns{
    column-count: 2;
    column-width: 250px;
    padding: 48px;
    column-gap: 25px;
}

/*
.description_text{
    display:flex;
    width:200px;
    margin:0 25px 25px;
     
}
.description_picture{
    display:inline-block;
    width:200px;
    margin:0 25px 25px;
}
*/




/*.footer_logo{
    display: flex;
    width: 40%;
    max-width: 40%;
}*/
/*
.footer_logo{
    max-width: 70%;
}
.footer_content{
    display: flex;
    width: 40%;
    margin: 20 auto;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.footer_content_2{
    width: 40%;
    margin: 20 auto;
}
flex end, this works when i put img and first section in footer_content and the 2 section in seperate part footer_content_2*/

/*index*/
.wrapper{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
}
.hero {
    padding: 100px 0;
    
}

.hero_text{
    padding: 48px;
    text-align: left;
}
.hero_text h2{
    font-size: 50px;
    
}
.content_project{
   
    padding-top: 48px;
    
}
.about_pj{
    display: block;
    margin: auto;
    height: 100%;
    max-height: 40%;
    width:  100%;
    max-width: 40%;
    
}
.btn{
    display: inline-block;
    text-decoration: none;
    
    color: #70223E;
    
    background-color: #EF4786;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 5px 10px;
    border-radius: 100px;
}


@media only screen and (min-width: 560px) {

    .nav_toggle{
        display: none;

    }
    .nav_menu{
        display: flex;
        flex-direction: row;
        
        padding-right: 16px;
    }
    li{
        display: block;
    }

    .about_img{
        justify-content: right;
    }
    /*footer*/
    .footer_content{
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-bottom: 50px;
        gap: 25px;
    }
    /* need to fix footer for desktop*/
    .copyright{
        display: block;
    }

    /*Dance*/
    .headings{
        padding: 48px;
    } 


    /*collumns*/  
    /*
    .description{
        border: #87629A solid;
        padding: 100px 0;
    }

    .description_text{
        width: 80%;
        max-width: 2000px;
        
        display: flex;

        margin: 0 auto;
        gap: 40px;
        border: orangered;
    }
    */
    .btn:hover,
    .btn:focus {
    opacity: .75; 
}

    
    
   
    

}

